/* Card.css */
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  /* .card.expanded {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  } */
  
  .card span{
    color: black;
  }
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000000;
  }
  
  .card p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 20px 0;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #444;
  }
  
  .radio-group input[type="radio"] {
    accent-color: #007bff; /* Blue color for radio button */
  }
  
  .selected-option-container {
    margin-top: 20px;
  }
  
  .selected-option-text {
    font-size: 1.1rem;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .continue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
  }
  
  .continue-button button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .continue-button button:hover {
    background-color: #0056b3;
  }
  
  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  