select {
  color: #fff;
  background-color: #222;
  border: 1px solid #444;
  padding: 8px;
  font-size: 14px;
  height: 40px;
  line-height: 20px;
  overflow-y: scroll;
  max-height: 200px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

select option {
  color: black;
  background-color: white;
}

select:placeholder-shown {
  color: gray;
  font-style: italic;
}

select:focus {
  background-color: #444;
  /* Light gray background on focus */
}

.select:focus {
  background-color: #e0e0e0;
}

/* Keyframe Animation */
@keyframes highlightBorder {
  0% {
    border-color: white;
    box-shadow: 0 0 20px #00aaff;
  }

  100% {
    border-color: #444;
    box-shadow: none;
  }
}

.animate-border {
  animation: highlightBorder 2s ease-in-out;
}

.highlight-dropdown {
  border: 2px solid #007bff;
  background-color: grey;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5);
  transition: all 0.3s ease;
}

/* Semester Container */
.semester-container {
  background-color: #121212;
  color: #ffffff;
  border-radius: 8px;
  width: 100%;
  margin: auto;
}

/* Semester Header */
.semester-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form Container */
.form-container {
  padding: 20px;
  background-color: #1f1f1f;
  border-radius: 8px;
}

/* Course Header */
.course-header {
  text-align: left;
  font-size: 25px;
  color: #00aaff;
  margin-bottom: 20px;
}

/* Form Grid */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* Form Group */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-size: 14px;
}

/* Input Field */
.form-group input {
  padding: 15px;
  font-size: 14px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
}

.form-group input::placeholder {
  color: #a0a0a0;
}

.form-group input:focus {
  border-color: #00aaff;
  box-shadow: #00aaff;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-inline-start: 5%;
}

/* Add Course and Submit Buttons */
.add-course,
.submit {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-course {
  background-color: #00aaff;
  color: #fff;
}

.submit {
  background-color: #28a745;
  color: #fff;
}

/* Hover Effects for Buttons */
.add-course:hover,
.submit:hover {
  opacity: 0.9;
}

.checkbox-box {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #1f1f1f;
  border-radius: 5px;
}

.checkbox-label {
  display: block;
  margin-bottom: 5px;
}

.dropdown-field {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: #1f1f1f;
  border-radius: 5px;
}

.dropdown-options {
  margin-top: 5px;
}